<h2>Create New Profile</h2>
<%=form_for @profile do |f| %>
    <p>
      <%=f.label :first_name %><br>
      <%=f.input_field :first_name %>
    </p>
    <p>
      <%=f.label :last_name %><br>
      <%=f.input_field :last_name %>
    </p>
    <p>
      <%=f.label :phone %><br>
      <%=f.telephone_field :phone %>
    </p>
    <p>
      <%=f.label :university %><br>
      <%=f.input_field :university %>
    </p>
    <p>
      <%=f.label :address %><br>
      <%=f.text_field :address %>
    </p>
    <p>
      <%= f.submit %>
    </p>
    <%= link_to 'Back', root_path %>
<% end %>