.panel.panel-default
  .panel-heading
    %i.icon-edit.icon-large
    = yield :form_title
  .panel-body
    = simple_form_for([:hq, @article], validate: true) do |f|
      = f.error_notification

      .form-inputs
        = f.input :title
        = f.input :text

      .form-actions
        - text = @article.id.present? ? "Güncelle" : "Ekle"
        = f.button :submit, text, class: 'btn btn-primary'
        = link_to "Geri", hq_categories_path, class: 'btn'