%h1 Listing articles
= link_to 'New article', new_article_path
%table{:border =>2, :width => "100%"}
  %tr
    %th Title
    %th Text
    %th Author
    %th Category
    %th{:colspan => "3"}
  - @articles.each do |article|
    %tr
      %td= article.title
      %td= article.text
      %td= article.user.first_name
      %td= category_names(article.categories) if article.categories.present?
      - if user_signed_in? && article.user == current_user
        %td= link_to 'Show', article_path(article)
        %td= link_to 'Edit', edit_article_path(article)
        %td= link_to 'Destroy', article_path(article), |
          method: :delete,                          |
          data: { confirm: 'Are you sure?' }        |
      - else
        %td= link_to 'Show', article_path(article)
%br/
%br/
%br/
= link_to 'Back to Homepage', welcome_index_path
