- content_for :toolbar do
  = link_to new_hq_admin_path, class: 'btn btn-default' do
    %i.icon-plus
    = "#{Admin.model_name.human} Ekle"

.panel.panel-default.grid
  .panel-heading
    %i.fa.fa-table.icon-large
    Yöneticiler
    .panel-tools
      TOOOOOOOOOOOOOOOLS
  .panel-body
    BBBBBBODY
    %table
      %tr
        %th ID
        %th İsim
        %th E-posta
        %th Güncel Giriş Tarihi
        %th Son Giriş Tarihi
        %th Aktif mi?
        -@admins.each do |admin|
          %tr
            %td= admin.id
            %td= admin.name
            %td= admin.email
            %td= admin.current_sign_in_at
            %td= admin.last_sign_in_at
            %td= admin.is_active



  .panel-footer
    .pagination.pagination-sm
      FOOTERRRRRRRRRRRR