- content_for :toolbar do
  = link_to new_hq_admin_path, class: 'btn btn-default' do
    %i.icon-plus
    = "#{Admin.model_name.human} Ekle"

.panel.panel-default.grid
  .panel-heading
    %i.fa.fa-table.icon-large
    Yöneticiler
    .panel-tools
      TOOOOOOOOOOOOOOOLS
  .panel-body
  .panel-body-filters
    =render 'filters'
  %br/
  %table
    %thead
      %tr
        %th
          = sort_link @search, :id, "ID"
        %th
          = sort_link @search, :name, "İsim"
        %th
          = sort_link @search, :email, "E-posta"
        %th
          = sort_link @search, :current_sign_in_at , "Güncel Giriş Tarihi"
        %th
          = sort_link @search, :last_sign_in_at, "Son Giriş Tarihi"
        %th
          = sort_link @search, :is_active, "Aktif mi?"
        %th.actions
          = "İşlemler"
    %tbody.admins
      -@admins.each do |admin|
        %tr{class: admin.is_active ? 'active' : 'passive'}
          %td= admin.id
          %td= admin.name
          %td= admin.email
          %td= admin.current_sign_in_at if admin.current_sign_in_at.present?
          %td= admin.last_sign_in_at if admin.last_sign_in_at.present?
          %td= admin.is_active ? "Aktif" : "Pasif"
          %td.action
            = link_to([:hq, admin], class: 'btn btn-success', data: { toggle: :tooltip}, title: "Büyüt") do
              %i.icon-zoom-in
            = link_to(edit_hq_admin_path(admin) , class: 'btn btn-info', data: { toggle: :tooltip }, title: "Düzenle") do
              %i.icon-edit
            - if admin.id != current_admin.id
              = link_to([:hq, admin], class: 'btn btn-danger', method: :delete, data: { confirm: "Emin misiniz?", toggle: :tooltip }, title: "Sil") do
                %i.icon-trash
            - if admin.is_active
              = link_to(toggle_is_active_hq_admin_path(admin), class: 'btn btn-danger', method: :post, data: { toggle: :tooltip}, title: "Pasif et" ) do
                %i.icon-ban-circle
            -else
              = link_to(toggle_is_active_hq_admin_path(admin), class: 'btn btn-info', method: :post, data: { toggle: :tooltip}, title: "Aktif et") do
                %i.icon-check

  .panel-footer
    .pagination.pagination-sm
      FOOTERRRRRRRRRRRR