profil düzenleme sayfası
profil düzenleme sayfası

<h2>Edit Profile</h2>
<%=simple_form_for @user do |f| %>
    <p>
      <%=f.label :first_name %><br>
      <%=f.input_field :first_name %>
    </p>
    <p>
      <%=f.label :last_name %><br>
      <%=f.input_field :last_name %>
    </p>
    <p>
      <%=f.label :phone %><br>
      <%=f.telephone_field :phone %>
    </p>
    <p>
      <%=f.label :university %><br>
      <%=f.input_field :university %>
    </p>
    <p>
      <%=f.label :address %><br>
      <%=f.text_field :address %>
    </p>
    <p>
      <%= f.submit %>
    </p>

<% end %>

<%= link_to 'Back', root_path %>