<ul class="nav pull-right">
  <i>You are homepage now.</i><br><br>
  <li><%= link_to 'Articles', articles_path %></li>

  <% if user_signed_in? %>
      <!--<li id="fat-menu" class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
          <!--Settings <b class="caret"></b>-->
        <!--</a>-->
        <!--<ul class="dropdown-menu">-->
          <li><%= link_to "User Settings", edit_user_registration_path %></li>
          <li><%= link_to "Help", '#' %></li>
        <!--</ul>-->
      <!--</li>-->
      <li><b> <%= link_to "Logout", destroy_user_session_path, :method => :delete %></b></li>
  <% else %>
      <li><b><%= link_to "Sign in", new_user_session_path %></b></li>
  <% end %>
</ul>

