%i#toggle.icon-align-justify.icon-large

%ul#dock

  %li.launcher
    %i.icon-dashboard
    =link_to  "Kontrol Paneli", hq_dashboard_index_path

  %li.launcher.dropdown.hover
    %i.fa.fa-list
    %a{href: '#'}= "Sistem Kullanıcıları"
    %ul.dropdown-menu
      %li
        = link_to hq_admins_path do
          %i.fa.fa-users
          = "Yöneticiler"
      %li
        = link_to hq_users_path do
          %i.fa.fa-users
          = "Kullanıcılar"

  %br/
  %li.launcher.dropdown.hover
    %i.fa.fa-list
    %a{href: '#'}= "Sistem verileri"
    %ul.dropdown-menu
      %li
        =link_to hq_categories_path do
          %i.fa.fa-database
          = "Kategoriler"


#beaker{data: {toggle: 'tooltip'}, title: 'Made by lab2023'}